@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
  }
}

body {
  background-color: #0a0a0a;
  color: #f4f4f5;
}

/* Custom Scrollbar for industrial feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; 
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333; 
}
