# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Next.js
.next/
out/

# Backend Build
backend/dist/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Docker
docker-compose.override.yml

# OS Files
.DS_Store
Thumbs.db
